*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.custom-col{
    border: 1px solid black;
    background: rgb(109, 109, 226);
    width: 100px;
    height: 100px;
}

/* HAS TO BE AFTER CUSTOM-COL OTHERWISE JS TOGGLE WON'T WORK */
.clicked-col{
    background: rgb(192, 69, 90);
    color: white;
}